.percentage {
    height: 5px;
    border-radius: 10px;
    background-color: white;
    transition: all 150ms;
}

.next-hour-text {
    font-size: 18px;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

.next-hour {
    margin: 5px;
}